<div class="grid lg:grid-cols-2 h-screen bg-gray-100">
  <div class="left place-self-center w-full px-8 md:px-16 lg:px-24 xl:px-36 2xl:px-52">
    <div class="header text-center mb-6">
      <div class="flex justify-center">
        <img src="assets/images/logo.png" alt="logo" class="w-16 h-16 rounded-[20px]">
      </div>
      <h1 class="text-xl font-bold mt-4">Angular Trello App - Angrello</h1>
    </div>
    <ng-content></ng-content>
  </div>
  <div class="right hidden lg:block"></div>
</div>
